<robot name="robopi"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:xi="http://www.w3.org/2001/XInclude">

    <xacro:property name="chassis_len" value=".19"/>
    <xacro:property name="chassis_width" value=".19"/>
    <xacro:property name="chassis_height" value="0.070"/>

    <link name="base_link">
        <visual>
            <origin rpy="-${PI/2} 0 ${PI/2}" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://robopi/meshes/base_assembly.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="-${PI/2} 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://robopi/meshes/base_assembly.dae"/>
            </geometry>
        </collision>
        <xacro:inertial_matrix mass="5.0"/>
    </link>

    <!--///////////////////////////////////////////////////////////////// -->

</robot>
